h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  /* 色指定には、hexadecimal notation(16進法(0-fで16))とrgb/rgba notationがある。通常は、hexを使い、透過が必要な時にrgbaを使用。red, green, blueの全値が等しい時はgray colorとなる。rgb(0, 0, 0)で黒、rgb(255, 255, 255)で白 */
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* 単位なしで指定することでfont-sizeに対する倍率 */
  line-height: 1.5;
}

li {
  /* browserのdefault font-sizeは16px */
  font-size: 20px;
}

/* descendant selector, 子孫 */
/* footer p {
  font-size: 16px;
} */

/* htmlの構造に依存してしまうためbetterな書き方ではない */
/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* page全体の背景色 */
body {
  /* background-color: orangered; */
}

/* 擬似クラス (pseudo-classes */
/* .first-li {
  font-weight: bold;
} */
/* child系疑似クラス、親要素からみて、n番目の要素がselectorで指定させた要素だった時、selectされる。下記は、最初の子がliの時その要素がselectされる。最初に出現するliがselectされるわけではないので注意。 */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* 引数にnumber, odd, even */
li:nth-child(even) {
  /* color: red; */
}

/* 親のarticleからみて最初のelementがpの時、selectされる。articleから見て最初のpがselectされるわけではないのに注意 */
article p:first-child {
  color: red;
}

/* article p:last-child {
  color: red;
} */

/* Styling links */
/* aだけだとhrefのない要素もselectされる。a:linkでhrefを持つ要素をselect。 */
/* LVHAの順に記述しないと期待通りに作動しないことがあるので注意 */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  /* 通常:visitedは、link pseudoと一緒にする */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

/* click中のstyle */
a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts, 優先順位高い順 */
/* !important -> inline -> id -> class, pseudo class(., :) -> element, pseudo element(::) -> * -> inherited styles */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
