h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  /* 色指定には、hexadecimal notation(16進法(0-fで16))とrgb/rgba notationがある。通常は、hexを使い、透過が必要な時にrgbaを使用。red, green, blueの全値が等しい時はgray colorとなる。rgb(0, 0, 0)で黒、rgb(255, 255, 255)で白 */
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* 単位なしで指定することでfont-sizeに対する倍率 */
  line-height: 1.5;
}

li {
  /* browserのdefault font-sizeは16px */
  font-size: 20px;
}

/* descendant selector, 子孫 */
/* footer p {
  font-size: 16px;
} */

/* htmlの構造に依存してしまうためbetterな書き方ではない */
/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* page全体の背景色 */
body {
  /* background-color: orangered; */
}
